.header {
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between;
}

.menu {
  width: 30px;
  background: url("../../images/icon-hamburger.svg") no-repeat center;
}

.hero {
  text-align: center;
  padding-bottom: 5em;
  background: var(--Very-Light-Gray);
}
.hero .copy {
  margin-bottom: 2.2em;
}
.hero__image {
  height: 300px;
  background: url("../../images/image-mockups.png") center bottom no-repeat, url("../../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin: 0 -1.5em;
  margin-bottom: 1.4em;
}

.title__h1 {
  font-size: 2.3em;
  color: var(--Dark-Blue);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
}
.title__h2 {
  font-size: 2.3em;
  color: var(--Dark-Blue);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.title__h3 {
  font-size: 2.3em;
  color: var(--Dark-Blue);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.copy {
  font-size: 0.8em;
  line-height: 1.8em;
}

.button {
  padding: 0.9em 2.2em;
  background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  color: var(--White);
  border-radius: 1.5em;
  border: none;
  font-size: 1em;
}

.why {
  text-align: center;
  background: var(--Light-Grayish-Blue);
  padding: 5em 1.5em;
}
.why .copy {
  margin-bottom: 2em;
}
.why img {
  margin-bottom: 1.3em;
}

.latestArticles {
  background: var(--Very-Light-Gray);
  padding: 5em 0;
}
.latestArticles .title__h1 {
  text-align: center;
}
.latestArticles__grid {
  display: grid;
  grid-row-gap: 2em;
}
.latestArticles__item {
  border-radius: 0.3em;
  overflow: hidden;
  background: var(--White);
}
.latestArticles__item__content {
  padding: 1.7em;
}
.latestArticles__item small {
  margin-bottom: 1em;
  display: block;
  font-size: 0.65em;
}
.latestArticles__item img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  background: var(--Dark-Blue);
  color: var(--White);
  padding: 2em 0;
  text-align: center;
}
.footer svg {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-column-gap: 10px;
  justify-content: center;
  margin: 2em 0;
}
.footer__link {
  display: block;
  color: var(--Very-Light-Gray);
  margin-bottom: 1.5em;
  text-decoration: none;
}
.footer__copyright {
  color: var(--Grayish-Blue);
  margin-top: 2.5em;
  font-size: 0.9em;
}

.icon__facebook {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: url("../../images/icon-facebook.svg") center no-repeat;
}
.icon__youtube {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: url("../../images/icon-youtube.svg") center no-repeat;
}
.icon__twitter {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: url("../../images/icon-twitter.svg") center no-repeat;
}
.icon__pinterest {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: url("../../images/icon-pinterest.svg") center no-repeat;
}
.icon__instagram {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: url("../../images/icon-instagram.svg") center no-repeat;
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  font-size: 18px;
  --wrapper-space: 1.3em;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  color: var(--Grayish-Blue);
}

.wrapper {
  padding: 0 1.3em;
}

/*# sourceMappingURL=styles.css.map */
