.hero{
    text-align: center;
    padding-bottom: 5em;
    background: var(--Very-Light-Gray);
    .copy{
        margin-bottom: 2.2em;
    }

    &__image{
        height: 300px;
        background: url('../../images/image-mockups.png') center bottom no-repeat, url('../../images/bg-intro-mobile.svg') center no-repeat;
        background-size: 345px, cover;
        margin: 0 -1.5em;
        margin-bottom: 1.4em;
    }

    @media screen and (min-width:768px){
        text-align: left;
        min-height: 550px;
        //border: 2px solid purple;
        background: url('../../images/bg-intro-desktop.svg') left 500px top -267px no-repeat ;
        background-size: cover;
        box-sizing: border-box;
        
        &__content{
            //border: 2px solid red;
            display: grid;
            grid-template-columns: 365px 1fr;
            grid-template-areas: "description image";
            min-height: 650px;
            align-items: center;
        }

        &__image{
            background: url('../../images/image-mockups.png') right -105px top -125px no-repeat;
            background-size: 800px;
            position: absolute;
            width: 700px;
            grid-area: image;
            min-height: inherit;
            right: 0;
            height: 830px;
            //border: 1px solid green;
        }
    }
}

@mixin title{
    font-size: 2.3em;
    color: var(--Dark-Blue);
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 0.5em;
}

.title{
    &__h1{
        @include title;
    }
    &__h2{
        @include title;
        font-size: 1.5em;
    }
    &__h3{
        @include title;
        font-size: 1em;
    }
}

.copy{
    font-size: 0.8em;
    line-height: 1.8em;
}

.button{
    padding: 0.9em 2.2em;
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    color: var(--White);
    border-radius: 1.5em;
    border: none;
    font-size: 1em;
}
